body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
}

canvas {
    position:absolute;
}

#container {
    position: relative;
}
#container canvas, #overlay {
    position: absolute;
}

.sidenav {
    height: 100%;
    opacity: 0.85;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(17, 17, 17);
    overflow-x: hidden;
    transition: 0.8s;
    padding-top: 100px;
    font-family: monospace;
    font-size: large;
}
.sidenav a {
    padding: -10px;
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    opacity: 1;
}
.sidenav a:hover {
    color: #f1f1f1;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 5px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    text-decoration: solid;
    color:#ffffff;
    text-shadow: #111;
}

@media screen {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.container1 {
    display: block;
    position: relative;
    margin: auto;
    height: auto;
    width: auto;
    padding: 5px;
}

h1 {
    color: #ff0000;
    font-weight: 400;
}

ul li {
    color: #ece2fa;
    display:flow-root;
    position: relative;
    border-bottom: 0;
    font-size: larger;
    text-align: left;
    padding-left: 25px;
}

ul li input[type=radio] {
    position: absolute;
    visibility: hidden;
}

ul li label {
    display: block;
    position: relative;
    font-weight: 200;
    font-size: 1.15em;
    padding: 5px;
    height: auto;
    z-index: 9;
    cursor: pointer;
}

ul li:hover label {
    color: #fff9f1;
}

ul li .radio_demo {
    display: block;
    position: absolute;
    border: 3px solid #ebebeb;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    top: 22px;
    left: -25px;
    z-index: 1;
}

ul li .radio_demo::before {
    position: absolute;
    content: '';
    border-radius: 80%;
    height: 20px;
    width: 20px;
    top: 5px;
    left: 5px;
    margin: 10;
    transition: background 0.25s linear;
}

input[type=radio]:checked ~ .radio_demo {
    border: 3px solid #ff0000;
}

input[type=radio]:checked ~ .radio_demo::before {
    background: #960000;
}

#reset {
    font-family: "Lucida Console", Monaco, monospace;
    border: #111;
    font-size: x-large;
    padding: 10px;
    border-radius: 3%;
    background-color: #ff3232;
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin: auto;
    text-align: center;
    justify-content: center;
    display: flex;
    transition: all .1s;
    box-sizing: border-box;
}

#reset:hover {
    color: black;
    background-color:white;
    box-shadow:0 0 .35em rgba(0,0,0,.5);
}

hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, #CCC, transparent);  
  }